@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active{
  background-color: black;
  padding: .25rem;
  color: white;
  transition: .5s;
}

.dark-active{
  background-color: white;
  padding: .25rem;
  color: black;
  transition: .5s;
}

@media screen and (max-width: 767px) {
#header{
  font-size: 17.5vw;
}
}
