@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active{
  background-color: black;
  padding: .25rem;
  color: white;
  transition: .5s;
}

.dark-active{
  background-color: white;
  padding: .25rem;
  color: black;
  transition: .5s;
}

/* SCROLL DOWN */

.scrolldown-wrapper {
	left: 50%;
	position: absolute;
	text-align: center;
	bottom: 0;
	transform: translate(-50%, -50%);
}
  
.scrolldown {
  display: flex;
  justify-content: center;
	border: 2px solid #000000;
	border-radius: 30px;
	height: 46px;
	margin: 0 auto 8px;
	width: 30px;
}

.scrolldown-p1,
.scrolldown-p2 {
	animation-duration: 2s;
	animation-name: scrolldown;
	animation-iteration-count: infinite;
	fill: #000000;
}
  
.scrolldown-p2 {
	animation-delay: 1s;
}

@keyframes scrolldown {
	0% {
		opacity: 0;
		transform: translate(0, -8px);
	}
	50% {
		opacity: 1;
		transform: translate(0, 0);
	}
	100% {
		opacity: 0;
		transform: translate(0, 8px);
	}
}

@media screen and (max-width: 767px) {
#header{
  font-size: 17.5vw;
}
}
